.bxx{
    background-image: url(../../images/invalid_img..png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.share_{
   margin-top: 250px;
   cursor:pointer;
}
.backimg{
    background-image: url(../../images/invalid_bckimg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: contain;
    margin-left: -3rem;
}
.inv{
    color: crimson !important;
}