@import "../../scss/default";
@import "../../scss/./color";


#main{
    height: 100vh !important;
    position: relative;
    // overflow: hidden !important;
    .logo{
        margin-left: -2rem !important;
    }
h3{
    color: $primary-color;
    width: 400px;
    font-weight: 700;
    margin-top: 3rem;
    span{
        color: $secondary-color;
        background-color: $primary-color;
        padding: .1rem;
    }
}
p{
    margin-top: 2rem;
}
}
#home_img{
    background-color: $primary-color;
    background-size:cover ;
    height: 100vh !important;
    padding: 0 !important;
    .phone{
        background-image: url(../../images/phone@2x.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: inherit;
        margin-left: -7rem;
    }
}
@media (max-width: 768px) {
    #main{
        width: 100% !important;
     
    }
    .section{
       justify-content: center !important;
    
    }
    #home_img{
        display: none;
    }
    .form_radio{
        width: 110%;
    }

}
@media (max-height: 600px) {
    #home_img {
     display: none;
    }
    #main{
        width: 100% !important;
    }
   
  }